@import './variables.scss';
@import './sidebar.scss';
@import './mixin.scss';
@import './ant.scss';

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.svg-external-icon {
  background-color: currentColor;
  mask-size: cover!important;
  display: inline-block;
}

ul,li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.sys-marg {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

/* 滚动条的滑块 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* 滚动条的滑块 */
::-webkit-scrollbar-thumb {
  left: 2px;
  background-color: rgba(144,147,153,.5);
  border-radius: 4px;
  // opacity: 0;
  // transition: opacity .12s ease-out;
}

.collapse-transition {
  transition: .3s height ease-in-out, .3s padding-top ease-in-out, .3s padding-bottom ease-in-out;
}

.sys-line {
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 0px;
  border-top-width: 1px;
  border-style: solid;
  border-color: rgb(229, 231, 235);
}