#app {

  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    &.has-logo {
      .a-scrollbar {
        height: calc(100% - 50px);
      }
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .ant-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    .ant-menu-item-selected>.ant-menu-title-content {
      color: $subMenuActiveText !important;
    }

    & .nest-menu .ant-submenu>.ant-menu-title-content,
    & .ant-submenu .ant-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .ant-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }
      }
    }

    .ant-submenu {
      overflow: hidden;

      &>.ant-menu-title-content {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .ant-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .ant-menu-inline-collapsed {
      .ant-menu-submenu-title {
        >.ant-menu-submenu-arrow {
          opacity: 0;
        }
      }
      .ant-menu-item,
      .ant-menu-submenu-title,
      .submenu-title-noDropdown {
        padding: 0 calc(50% - 16px / 2) !important;
        text-overflow: clip;
      }
      .ant-submenu,
      .ant-menu-submenu-title,
      .ant-menu-item {
        &>.ant-menu-title-content {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .ant-menu-inline-collapsed .ant-menu .ant-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.ant-menu--vertical {
  &>.ant-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.ant-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
