:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
    --border-color: #144fc6;
    --fill-color: #6ab3f8;
}

* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    overflow: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #3494e4;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
}

.cup {
    height: 330px;
    width: 150px;
    margin: 30px auto;
    border: 4px solid var(--border-color);
    border-radius: 0 0 40px 40px;
    background-color: #fff;
}
