:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
}

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #efedd6;
}

.container {
    margin: 0 auto;
    width: fit-content;
}

.box {
    background-color: steelblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgb(0 0 0 / 30%);
    transform: translateX(150vw);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-150vw);
}

.box.show {
    transform: translateX(0);
}